body{
    color: red;
    background:blanchedalmond
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(31, 22, 198);
    padding: 20px;
    font-size: 25px;
    color: rgb(31, 22, 198);
}

.chamada{
    background: rgb(15, 15, 15);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height:200px
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 2px solid green;
}

.categoria h2 {
    color: rgb(15, 15, 15);
}

